.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 50vh;
  background-color: var(--background-color);
  margin: 5em 5em;
  font-weight: var(--font-weight);
}

